{% extends 'base.html' %}

{% block body %}
<header class="masthead bg-primary text-white text-center"  id="mainHed">
    <div class="container d-flex align-items-center flex-column">
        <h1>Хобі</h1>
        <h3>Повірте, у мене багато їх</h3>
    </div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div class="row">
        <div class="container col-md-6 col-lg-6">
            <table class="table table-secondary">
                <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Хоббі</th>
                    <th scope="col">Опис</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Відеоігри</td>
                    <td>Я граю їх багато, з дитинства. Переважна це військові ігри наприклад Pubg mobile</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Футбол</td>
                    <td>Це ще одна річ якою я займаюсь із дитинства, я як люблю грати так і дивитися його.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Рибалка</td>
                    <td>Мене затянує не сама кількість риби яку злапаю а сам процес як це все відбувається.</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Прогулянки</td>
                    <td>Я люблю деколи гуляти самому слухати музику і бути самим із собою.</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ютуб</td>
                    <td>Дивлюсь з 2010. За той час пережив, здається багато чого. Тепер я намагаюся відвикати від цього</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container col-md-3 col-lg-4">
            <div class="align-items-center">
                <img src="{{ url_for('static', filename='images/logo_v.png') }}" alt="..." />
                <h3 class="caption">Моя майбутня компанія</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}