{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('posts.static', filename='css/posts.css') }}">
{% endblock css %}
{% block content %}
<h2>Список постів</h2>
<div class="posts-container">
    {% for post in posts %}
    <div class="post-card">
        <img src="{{ url_for('posts.static', filename='img/default.png') }}" alt="Зображення для {{ post.title }}" class="post-image">
        <h3>{{ post.title }}</h3>
        <p><strong>Категорія:</strong> {{ post.category }}</p>
        <p><strong>Автор:</strong> {{ post.author }}</p>
        <p><strong>Дата публікації:</strong> {{ post.publication_date }}</p>
        <p>{{ post.content }}</p>
        {% if not post.is_active %}
        <p class="inactive">Цей пост не активний</p>
        {% endif %}
    </div>
    {% else %}
    <p>Поки що немає постів.</p>
    {% endfor %}
</div>
{% endblock content %}