{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <section id="contact-info">
        <h2>Контактна інформація</h2>
        <p>Зв'яжіться зі мною за наступними каналами:</p>
        <ul>
            <li><strong>Електронна пошта:</strong>ihor.voitseshko.22@pnu.edu.ua</li>
            <li><strong>Телефон:</strong> +380 (99) 734 20 49</li>
            <li><strong>GitHub:</strong> <a href="https://github.com/vojcesko/Progect_Python.git" target="_blank">github</a></li>
        </ul>
    </section>
{% endblock %}