{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
    <section id="welcome">
        <h2>Ласкаво просимо на мій сайт!</h2>
        <p>Це мій особистий веб-сайт, для виконання  лабораторних робіт з використанням фреймворку Flask.</p>
    </section>

    <section id="highlights">
        <h3>Що ви можете знайти тут:</h3>
        <ul>
            <li><strong>Резюме:</strong> Перелік моїх навичок у програмувані, освіта та мої проєкти.</li>
            <li><strong>Контакти:</strong> Мої дані через які можна із зімною звязатися.</li>
        </ul>
    </section>
{% endblock %}