{% extends "base.html" %}

{% block title %}Моє резюме{% endblock %}

{% block content %}
    <header>
        <h1>Войцешко Ігор</h1>
        <img src="{{ url_for('static', filename='images/programmer.png') }}" alt="Profile Picture">
    </header>

    <section id="about">
        <h2>Про себе</h2>
        <p>Я студент, і я не так давно почав вивчати програмування. Цього семестру у нас з'явилася можливість вибирати предмети, і я вирішив вибрати "Веб-програмування мовою Python", на маю думку це непоганий вибір. Маю бажання якнайшвидче вивчити цей предмет</p>
    </section>

    <section id="education">
        <h2>Освіта</h2>
        <ul>
            <li><strong>Vasyl Stefanyk Precarpathian National University</strong> - ІПЗ (2022-2026)</li>
        </ul>
    </section>

    <section id="skills">
        <h2>Навички</h2>
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>HTML/CSS</li>
            <li>JS</li>
            <li>SQL</li>
        </ul>
    </section>

    <section id="experience">
        <h2>Проекти</h2>
        <ul>
            <li><strong>Проект 1</strong> - Опис проекту</li>
            <li><strong>Проект 2</strong> - Опис проекту</li>
        </ul>
    </section>
{% endblock %}